<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Default" connectionString="Server = tcp:ARTHUR\VNAJ_DB01,49156; DataBase = dbControlNotas; User Id = u_dbControlNotas; Password = 123456" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>